#loadingAnimation{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms;
    -o-transition: 500ms;
    -moz-transition: 500ms;
    -webkit-transition: 500ms;
    margin-top: 2vh;
    opacity: 1;
}

#loadingAnim>#smallPart{
    transform-box: fill-box;
    transform-origin: center;
    animation: 2.3s rotateRight linear infinite;
}
#loadingAnim>#bigPart{
    transform-box: fill-box;
    transform-origin: center;
    animation: 2s rotateLeft linear infinite;
}

@keyframes rotateLeft {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg)
    }
}
@keyframes rotateRight {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(-360deg)
    }
}