@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.profile_box{
    color: #000000;
    width: 75%;
    height: auto;
    display:flex;
    position: relative;
    /* justify-content: space-evenly;*/
    flex-direction: column;
    background: #dddddd;
    border-radius: 10vh;

    margin-left: 50%;
    transform: translateX(-50%);

    margin-top: 4vh;
    margin-bottom: 10vh;
}

.profile_box *{
    font-family: 'Roboto', sans-serif;
}

#top_imag{
    border-radius: 10vh 10vh 5vh 5vh;
    width: 100%;
    margin-top: 0vh;
}

#text_nume{
    font-size: 35px;
    margin-top: 3vh;
    margin-left: 5vh;
}

#text_email{
    font-size: 20px;
    margin-top: 3vh;
    margin-left: 5vh;

}

.functie{
    font-size: 10px;
    text-align: center;
    color: #0c0921;
    background: #696969;
}

.text-articole{
    color: #0f2f4c;
    font-size: 25px;
    margin-left: 7%;
    margin-top: 20px;
}

.article-box{
    color: #000000;
    width: 40%;
    height: 110px;
    display:flex;
    position: relative;
    flex-direction: column;
    background: #dddddd;
    border-radius: 1vh ;
    border: 0.3vh solid #222222;

    margin-top: 4vh;
    margin-bottom: 10vh;
    margin-left: 10%;
}



.text_nume_articol{
    font-size: 25px;
    margin-left: 5vh;
    margin-top: 1vh;
}

.text-secundar-articol{
    font-size: 15px;
    margin-left: 5vh;
    margin-top: 2vh;
}

.svg-articol{
    margin-left: 75%;
    margin-top: -5vh;
    width: 40px;
    cursor: pointer;
}

