@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex-col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile_box{
    color: #000000;
    width: 75%;
    height: auto;
    display:flex;
    position: relative;
    /* justify-content: space-evenly;*/
    flex-direction: column;
    background: #dddddd;
    border-radius: 5vw 5vw 2vw 2vw;

    margin-left: 50%;
    transform: translateX(-50%);

    margin-top: 4vh;
    margin-bottom: 10vh;
}

.profile_box *{
    font-family: 'Roboto', sans-serif;
}

#top_imag{
    border-radius: 5vw 5vw 2vw 2vw;
    width: 100%;
    margin-top: 0;
}


#profile-rank{
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    width: 100%;
}

#profile-rank>h3{
    padding: .5vw;
    font-size: 1.3rem;
    border-radius: 3vh;
    background: #CFCFCF;
    color: var(--darkblue);
    border: .5vh solid var(--darkblue);
    position: absolute;
    right: 2vw;
}

.profile-data-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    width: max-content;
    /*padding: 2vh 0 2vh 0;*/
    position: relative;
}
.profile-data-container>svg{
    width: 3vh;
    cursor: pointer;
    transition: 500ms;
    -o-transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
}
.profile-data-container>svg:hover{
    opacity: .6;
}


#text_nume{
    margin-block-start: .5em;
    font-weight: bold;
    font-size: 35px;
    margin-left: 2vw;
}

#text_email{
    font-size: 20px;
    margin-left: 2vw;
    text-decoration: none;
    color: black;
    font-weight: bold;


    transition: 300ms;
    -o-transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
}
#text_email:hover{
    color: var(--darkblue);
}

.functie{
    font-size: 10px;
    text-align: center;
    color: #0c0921;
    background: #696969;
}


.articles-container{
    margin-top: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}




/*general*/
.panel{
    width: 100%;
}

.titlu-panel{
    color: #0f2f4c;
    font-size: 3vh;
    text-align: left;
    margin-top: 20px;
    width: 100%;

    padding-left: 5vh;
}

.article-box{
    color: #000000;
    width: max-content;
    max-width: 40vw;

    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4vh;

    position: relative;
    background: #dddddd;
    border-radius: 1vh ;
    border: 0.3vh solid #222222;

    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 10%;
    padding: 1.5vh 4vh 1.5vh 4vh;
}
/***************/
/*ARTICOL*/
.text_nume_articol{
    font-size: 1.5rem;
    margin-top: 1vh;
}

.text-secundar-articol{
    font-size: 1rem;
    margin-top: 2vh;
}

.redirect-svg{
    width: 3vh;
    cursor: pointer;
    transition: 300ms;
    -o-transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
}
.redirect-svg:hover{
    opacity: .5;
    transform: scale(.9);
}

/*articole ce trebuie atribuite evaluatorilor*/
.assign-article-container{
    color: #000000;
    width: 40vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3vh;

    position: relative;
    background: #dddddd;
    border-radius: 1vh ;
    border: 0.3vh solid #222222;

    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: 10%;
    padding: 1.5vh 4vh 1.5vh 4vh;
}

.assign-article-container button{
    font-size: 1rem;
    outline: none;
    border: none;
    color: white;
    background: var(--darkblue);
    border-radius: 2vh;
    padding: .5vh 3vh .5vh 3vh;
    cursor: pointer;
}

.assign-article-container>div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2vh;

}
.assign-article-evals-container{
    gap: 2vh;
}
.assign-article-evals-container,
.assign-article-info-container{
    flex-grow: 1;
    height: 100%;
    width: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.assign-article-container p{
    margin: 1vh;
    font-size: 1rem;
}

.assign-article-container select{
    width: 10vh;
}

.assign-article-container p:nth-of-type(1){
    font-size: 1.5rem;
}
.assign-article-evals-container>p:nth-of-type(1){
    font-size: 1.3rem;
}

/*POP UP*/
.form-container {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 20vh;
    z-index: 9;
    font-size: 15px;
    border-radius: 2vh;
}

/*contributii in curs de procesare*/

.wip-container{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    text-align: center;
}

.wip-container hr{
    width: 100%;
    border: .8px solid black;
}

.wip-title{
    font-size: 1.5rem;
}

.wip-status{
    font-size: .8rem;
}
.wip-eval-container{
    gap: 2vh;
}


.wip-container>div{
    width: 100%;
}

.wip-container p{
    margin: 5px;
}

.wip-container button{
    font-size: 1rem;
    outline: none;
    border: none;
    color: white;
    background: var(--darkblue);
    border-radius: 2vh;
    padding: .5vh 3vh .5vh 3vh;
    cursor: pointer;
}
.wip-container button:disabled{
    background: #c1c2c3;
    color: #726f6f;
}

.wip-container svg{
    width: 2vw;
}

/*finalized by me*/
.fbm-container{
    width: 40vw;
    font-size: 1rem;
}

.fbm-container p{
    margin: 5px;
}

.fbm-top{
    width: 100%;
    justify-self: left;
}
.fbm-top p{
    width: 100%;
    text-align: left;
}
.fbm-title{
    font-size: 1.5rem;
}
.fbm-btm{
    width: 100%;
}
.fbm-btm div{
    gap: 2vh;
    text-align: center;
}



/*formular schimbare nume*/

#myForm{
    transform: rotateX(90deg);
    pointer-events: none;

    transition: 700ms;
    -o-transition: 700ms;
    -webkit-transition: 700ms;
    -moz-transition: 700ms;}

.form-popup {

    background: rgba(255,255,255,.8);
    padding: 2vw 4vw 0 4vw;
    border-radius: 2vh;

}


.form-popup input[type=nume], .form-popup input[type=prenume], .form-popup input[type=email]{
    border-radius: 1vh;
    margin-top: 3px;
    margin-bottom: 6px;
    border: none;
    padding: .5vh 0 .5vh 2vh;
    background-color: #a5a3a3;
    color: white;
}

.form-popup>div{
    width: 100%;
    display: flex;
    gap: 5vh;
    align-items: center;
    justify-content: center;
}


.form-popup input[type=nume]:focus, .form-popup input[type=prenume]:focus , .form-popup input[type=email]:focus {

    outline: none;
}

.form-popup .btn {
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
    width: 50%;
    border-radius: 2vh;
    padding: 5px;
    border: none;
    margin-bottom:10px;
    opacity: 0.8;
    position: center;
    margin-left: 50%;
    transform: translateX(-50%);

    transition: 300ms;
    -o-transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
}

.form-popup .btn:not(.cancel){
    margin-top: 2vh;

}

.form-popup  .cancel {
    background-color: #010547;
}

.form-popup .btn:hover {
    opacity: 1;
}